.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;

    & > section {
        display: flex;
        flex-direction: column;

        width: 80%;
    }

    .cards {
        display: flex;
        justify-content: space-around;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            font-weight: 600;

            background-color: white;
            color: black;
            padding: 40px 20px;

            border-radius: 10px;

            width: 25%;

            div {
                font-size: 40px;
            }

            p {
                text-align: center;

                font-size: 24px;
            }
        }
    }

    .total-by-types-section {
        width: 80%;
    }
}